@if (isShow) {
  <section class="chatbox-panel">
    <header class="chatbox-panel__header">
      <aside style="flex:3">
        <img ngSrc="/assets/images/avatar_chatbot.jpg"
             alt="Toeicute AI" class="rounded-circle"
             width="48"
             (click)="toggleChatbot()"
             height="48">
      </aside>
      <aside style="flex:6">
        <h1>TOEICUTE</h1> Chatbot (Online)
      </aside>
      <aside style="flex:3;text-align:right;">
        <button class="chatbox-panel-close"><i class="fa fa-close" aria-hidden="true"></i></button>
      </aside>
    </header>
    <main class="chatbox-panel__main" style="flex:1">
      We make it simple and seamless for<br> bussiness and people to talk to each<br> other. Ask us anything.
    </main>
    <footer class="chatbox-panel__footer">
      <aside style="flex:10">
        <textarea type="text" placeholder="Type your message here..." autofocus></textarea>
      </aside>
      <aside style="flex:1;color:#888;text-align:center;">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </aside>
    </footer>
  </section>
} @else {
  <div class="fixed-bottom-custom w-100 d-flex flex-row-reverse" title="Chat bot & Dịch thuật">
    <img ngSrc="/assets/images/chatbot.png"
         alt="chatbot" class="rounded-circle"
         id="chatbot"
         width="60"
         (click)="toggleChatbot()"
         height="60">
  </div>
}

