@if (isShow) {
  <section class="chatbox-panel">
    <header class="chatbox-panel__header">
      <aside style="flex:2">
        <img ngSrc="/assets/images/avatar_chatbot.jpg"
             alt="Toeicute AI" class="rounded-circle"
             width="48"
             (click)="toggleChatbot()"
             height="48">
      </aside>
      <aside style="flex:6">
        <h1 class="mb-1" (click)="test()">TOEICUTE</h1>
        <nz-select [(ngModel)]="selectedModel" nzPlaceHolder="Chọn chatbot" [ngClass]="{'d-none': !isChatbot}">
          <nz-option-group nzLabel="Miễn phí">
            <nz-option [nzValue]="ModelAI.LLAMAS" nzLabel="LLAMAS"></nz-option>
            <nz-option [nzValue]="ModelAI.PALM2" nzLabel="PALM2"></nz-option>
          </nz-option-group>
          <nz-option-group nzLabel="Thành viên">
            <nz-option [nzValue]="ModelAI.CHAT_GPT" nzLabel="CHAT GPT"></nz-option>
            <nz-option [nzValue]="ModelAI.GEMINI" nzLabel="GEMINI"></nz-option>
          </nz-option-group>
        </nz-select>
      </aside>
      <aside style="flex:3;text-align:right;">
        <button class="chatbox-panel-close" (click)="toggleChatbot()"><i class="fa fa-close" aria-hidden="true"></i>
        </button>
      </aside>
    </header>
    <main class="chatbox-panel__main" style="flex:1">
      <div class="d-flex btn-group btn-group-justified bg-secondary mb-2">
        <button class="btn btn-secondary border-right mr-2" [ngClass]="{'active': isChatbot}"
                (click)="isChatbot = true">
          Toeicute AI
        </button>
        <button class="btn btn-secondary" [ngClass]="{'active': !isChatbot}" (click)="isChatbot = false">Dịch thuật
        </button>
      </div>

      <div #chatContainer class="container overflow-auto" style="max-height: 420px;">
        @if (isChatbot) {
          @if (listChat.length === 0) {
            Toeicute sẽ giúp bạn giải đáp thắc mắc. <br/> Hãy nhập câu hỏi của bạn vào đây.
          }
          @for (entry of listChat; track entry) {
            <div class="d-flex flex-row-reverse">
            <span class="mb-2 text-end px-2 bg-light rounded py-1 text-dark justify-content-end">
              <markdown [data]="entry.question"></markdown>
            </span>
            </div>
            <div class="d-flex">
              <span class="mb-2 text-start px-2 bg-light rounded py-1 text-dark text-wrap">
                <markdown [data]="entry.answer"></markdown>
              </span>
            </div>
          }
        } @else {
          @for (item of listTranslate; track item) {
            <div class="d-flex flex-row-reverse">
            <span class="mb-2 text-end px-2 bg-light rounded py-1 text-white justify-content-end">
              <markdown [data]="item.question"></markdown>
            </span>
            </div>
            <div class="d-flex">
              <span class="mb-2 text-start px-2 bg-light rounded py-1 text-white text-wrap">
                <markdown [data]="item.answer"></markdown>
              </span>
            </div>
          }
        }
      </div>
    </main>
    <footer class="chatbox-panel__footer">
      <aside style="flex:10">
        <textarea type="text" placeholder="Nhập câu hỏi của bạn vào đây..."
                  class="form-control text-start align-middle pt-1" id="exampleFormControlTextSarea1"
                  rows="3"
                  (keydown.enter)="chat()"
                  [readOnly]="isLoading"
                  autofocus [(ngModel)]="params.prompt"></textarea>
      </aside>
      <aside style="flex:1;" class="d-flex justify-content-center align-items-center text-center h-100 bg-white">
        @if (isLoading) {
          <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        } @else {
          <i class="fa fa-paper-plane" aria-hidden="true" (click)="chat()"></i>
        }
      </aside>
    </footer>
  </section>
} @else {
  <div class="fixed-bottom-custom w-100 d-flex flex-row-reverse" title="Chat bot & Dịch thuật">
    <img ngSrc="/assets/images/chatbot.png"
         alt="chatbot" class="rounded-circle shadow"
         id="chatbot"
         width="60"
         (click)="toggleChatbot()"
         height="60">
  </div>
}

