<app-page-header
  [title]="title"
  [currentPage]="currentPage">
</app-page-header>

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="template-demo">
          <button class="btn btn-block btn-outline-secondary btn-fw" (click)="backPreviousPage()">Quay lại
          </button>

          <button class="btn btn-block btn-lg btn-gradient-primary" [ngClass]="{'d-none': isValidNumberQuestionOfPart}"
                  (click)="openFormAdd()">Thêm mới
          </button>
        </div>
        <div class="table-responsive">
          <ng-container *ngTemplateOutlet="getTemplatePartQuestion()"></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #part1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th style="width: 15%;"> Câu hỏi</th>
      <th style="width: 20%;"> Hình câu hỏi</th>
      <th style="width: 30%;"> Audio câu hỏi</th>
      <th style="width: 15%;"> Đáp án</th>
      <th style="width: 20%;"> #</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of listQuestion; let i = index; trackBy: trackByFn">
      <tr>
        <td>{{item.questionNumber}}</td>
        <td>
          <img [src]="item.questionImage" alt="TOEICUTE" style="width: 100px; height: 100px;">
        </td>
        <td>
          <app-audio-player [audioSource]="item.questionAudio" [partName]="item.questionNumber"></app-audio-player>
        </td>
        <td>{{item.correctAnswer}}</td>
        <td>
          <button class="btn btn-gradient-primary btn-rounded btn-fw" (click)="openFormEdit(item)">Sửa</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</ng-template>

<ng-template #part2>
  <table class="table table-hover">
    <thead>
    <tr>
      <th style="width: 15%;"> Câu hỏi</th>
      <th style="width: 45%;"> Audio câu hỏi</th>
      <th style="width: 20%;"> Đáp án</th>
      <th style="width: 20%;"> #</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of listQuestion; let i = index; trackBy: trackByFn">
      <tr>
        <td>{{item.questionNumber}}</td>
        <td>
          <app-audio-player [audioSource]="item.questionAudio" [partName]="item.questionNumber"></app-audio-player>
        </td>
        <td>{{item.correctAnswer}}</td>
        <td>
          <button class="btn btn-gradient-primary btn-rounded btn-fw" (click)="openFormEdit(item)">Sửa</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</ng-template>


<ng-template #part34>
  <table class="table table-hover">
    <thead>
    <tr>
      <th style="width: 9%;"> Câu hỏi</th>
      <th style="width: 15%;"> Nội dung</th>
      <th style="width: 9%;"> Đáp án A</th>
      <th style="width: 9%;"> Đáp án B</th>
      <th style="width: 9%;"> Đáp án C</th>
      <th style="width: 9%;"> Đáp án D</th>
      <th style="width: 20%;"> Audio câu hỏi</th>
      <th style="width: 10%;"> Đáp án</th>
      <th style="width: 10%;"> #</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of listQuestion; let i = index; trackBy: trackByFn">
      <tr>
        <td>{{item.questionNumber}}</td>
        <td class="text-wrap" [tooltip]="item.questionContent">{{item.questionContent}}</td>
        <td class="text-wrap" [tooltip]="item.answerA">{{item.answerA}}</td>
        <td class="text-wrap" [tooltip]="item.answerB">{{item.answerB}}</td>
        <td class="text-wrap" [tooltip]="item.answerC">{{item.answerC}}</td>
        <td class="text-wrap" [tooltip]="item.answerD">{{item.answerD}}</td>
        <td>
          <app-audio-player [audioSource]="item.questionAudio" [partName]="item.questionNumber"></app-audio-player>
        </td>
        <td>{{item.correctAnswer}}</td>
        <td>
          <button class="btn btn-gradient-primary btn-rounded btn-fw" (click)="openFormEdit(item)">Sửa</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</ng-template>

<ng-template #part5>
  <table class="table table-hover">
    <thead>
    <tr>
      <th style="width: 10%;"> Câu hỏi</th>
      <th style="width: 20%;"> Nội dung</th>
      <th style="width: 12.5%;"> Đáp án A</th>
      <th style="width: 12.5%;"> Đáp án B</th>
      <th style="width: 12.5%;"> Đáp án C</th>
      <th style="width: 12.5%;"> Đáp án D</th>
      <th style="width: 10%;"> Đáp án</th>
      <th style="width: 10%;"> #</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of listQuestion; let i = index; trackBy: trackByFn">
      <tr>
        <td>{{item.questionNumber}}</td>
        <td class="text-wrap" [tooltip]="item.questionContent">{{item.questionContent}}</td>
        <td class="text-wrap" [tooltip]="item.answerA">{{item.answerA}}</td>
        <td class="text-wrap" [tooltip]="item.answerB">{{item.answerB}}</td>
        <td class="text-wrap" [tooltip]="item.answerC">{{item.answerC}}</td>
        <td class="text-wrap" [tooltip]="item.answerD">{{item.answerD}}</td>
        <td>{{item.correctAnswer}}</td>
        <td>
          <button class="btn btn-gradient-primary btn-rounded btn-fw" (click)="openFormEdit(item)">Sửa</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</ng-template>


<ng-template #part6>
  <table class="table table-hover">
    <thead>
    <tr>
      <th style="width: 10%;"> Câu hỏi</th>
      <th style="width: 20%;"> Đoạn văn</th>
      <th style="width: 12.5%;"> Đáp án A</th>
      <th style="width: 12.5%;"> Đáp án B</th>
      <th style="width: 12.5%;"> Đáp án C</th>
      <th style="width: 12.5%;"> Đáp án D</th>
      <th style="width: 10%;"> Đáp án</th>
      <th style="width: 10%;"> #</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of listQuestion; let i = index; trackBy: trackByFn">
      <tr>
        <td>{{item.questionNumber}}</td>
        <td class="text-wrap" [tooltip]="item.paragraph1">{{item.paragraph1}}</td>
        <td class="text-wrap" [tooltip]="item.answerA">{{item.answerA}}</td>
        <td class="text-wrap" [tooltip]="item.answerB">{{item.answerB}}</td>
        <td class="text-wrap" [tooltip]="item.answerC">{{item.answerC}}</td>
        <td class="text-wrap" [tooltip]="item.answerD">{{item.answerD}}</td>
        <td>{{item.correctAnswer}}</td>
        <td>
          <button class="btn btn-gradient-primary btn-rounded btn-fw" (click)="openFormEdit(item)">Sửa</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</ng-template>

<ng-template #part7>
  <table class="table table-hover">
    <thead>
    <tr>
      <th style="width: 10%;"> Câu hỏi</th>
      <th style="width: 15%;"> Đoạn văn 1</th>
      <th style="width: 15%;"> Đoạn văn 2</th>
      <th style="width: 10%;"> Đáp án A</th>
      <th style="width: 10%;"> Đáp án B</th>
      <th style="width: 10%;"> Đáp án C</th>
      <th style="width: 10%;"> Đáp án D</th>
      <th style="width: 10%;"> Đáp án</th>
      <th style="width: 10%;"> #</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of listQuestion; let i = index; trackBy: trackByFn">
      <tr>
        <td >{{item.questionNumber}}</td>
        <td class="text-wrap" [tooltip]="item.paragraph1">{{item.paragraph1}}</td>
        <td class="text-wrap" [tooltip]="item.paragraph2">{{item.paragraph2}}</td>
        <td class="text-wrap" [tooltip]="item.answerA">{{item.answerA}}</td>
        <td class="text-wrap" [tooltip]="item.answerB">{{item.answerB}}</td>
        <td class="text-wrap" [tooltip]="item.answerC">{{item.answerC}}</td>
        <td class="text-wrap" [tooltip]="item.answerD">{{item.answerD}}</td>
        <td>{{item.correctAnswer}}</td>
        <td>
          <button class="btn btn-gradient-primary btn-rounded btn-fw" (click)="openFormEdit(item)">Sửa</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</ng-template>


<ng-template #notFound>
  <div class="text-center">
    <h3>Không có câu hỏi nào</h3>
  </div>
</ng-template>
