<nav class="sidebar sidebar-offcanvas mt-2" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/admin-avatar.jpg" alt="profile">
          <span class="login-status online"></span>
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">TOEICUTE</span>
          <span class="text-small">Quản trị viên</span>
        </div>
        <i class="mdi mdi-bookmark-check text-primary nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active': navItemActive == 'dashboard'}">
      <a class="nav-link" href="/admin">
        <span class="menu-title">Trang chủ</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : navItemActive == 'users'}">
      <a class="nav-link" href="/admin/users">
        <span class="menu-title">Quản lý người dùng</span>
        <i class="mdi mdi-account-circle menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Quản lý bộ đề thi</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-database menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'topic'}">
            <a class="nav-link" href="admin/topic">
              <span class="menu-title">Danh sách</span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'addTopic'}">
            <a class="nav-link" href="admin/addTopic">
              <span class="menu-title"> Thêm bộ đề </span>
            </a>
          </li>

        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#exam-management" aria-expanded="false"
         aria-controls="exam-management">
        <span class="menu-title">Quản lý đề thi</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-book-open menu-icon"></i>
      </a>
      <div class="collapse" id="exam-management">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'exam'}">
            <a class="nav-link" href="admin/exam">
              <span class="menu-title">Danh sách</span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'addExam'}">
            <a class="nav-link" href="admin/addExam">
              <span class="menu-title"> Thêm đề thi </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : navItemActive == 'score'}">
      <a class="nav-link" href="/admin/score">
        <span class="menu-title">Quản lý tính điểm</span>
        <i class="mdi mdi-checkbox-marked-circle menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : navItemActive == 'transcript'}">
      <a class="nav-link" href="/admin/transcript">
        <span class="menu-title">Transcript</span>
        <i class="mdi mdi-tooltip-text menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#crawl-management" aria-expanded="false"
         aria-controls="exam-management">
        <span class="menu-title">Crawl Data</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-database-plus menu-icon"></i>
      </a>
      <div class="collapse" id="crawl-management">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'crawl-data'}">
            <a class="nav-link" href="admin/crawl-data">
              <span class="menu-title"> Danh sách </span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'crawl-config'}">
            <a class="nav-link" href="admin/crawl-config">
              <span class="menu-title"> Config </span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <div class="border-bottom"></div>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false"
         aria-controls="general-pages">
        <span class="menu-title"> Hệ thống </span>
        <i class="mdi mdi-home-assistant menu-icon"></i>
      </a>
      <div class="border-bottom"></div>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#firebase-management" aria-expanded="false"
         aria-controls="exam-management">
        <span class="menu-title"> Firebase</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-cloud-upload menu-icon"></i>
      </a>
      <div class="collapse" id="firebase-management">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'firebase'}">
            <a class="nav-link" href="admin/firebase">
              <span class="menu-title"> Danh sách </span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'update-firebase'}">
            <a class="nav-link" href="admin/update-firebase">
              <span class="menu-title"> Update Firebase </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#email-management" aria-expanded="false"
         aria-controls="exam-management">
        <span class="menu-title"> Email </span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-email menu-icon"></i>
      </a>
      <div class="collapse" id="email-management">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'email'}">
            <a class="nav-link" href="admin/email">
              <span class="menu-title"> Danh sách Email</span>
            </a>
          </li>

          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'update-email'}">
            <a class="nav-link" href="admin/update-email">
              <span class="menu-title"> Thêm Email </span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'template-email'}">
            <a class="nav-link" href="admin/template-email">
              <span class="menu-title"> Danh sách Temlate </span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'update-template-email'}">
            <a class="nav-link" href="admin/update-template-email">
              <span class="menu-title"> Thêm Template </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#slider-management" aria-expanded="false"
         aria-controls="exam-management">
        <span class="menu-title"> Slider </span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-equal-box menu-icon"></i>
      </a>
      <div class="collapse" id="slider-management">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'slider'}">
            <a class="nav-link" href="admin/slider">
              <span class="menu-title"> Danh sách </span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'update-silder'}">
            <a class="nav-link" href="admin/update-slider">
              <span class="menu-title"> Thêm Slider </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#revai-management" aria-expanded="false"
         aria-controls="exam-management">
        <span class="menu-title"> Quản lý REV AI </span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-at menu-icon"></i>
      </a>
      <div class="collapse" id="revai-management">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'rev-ai'}">
            <a class="nav-link" href="admin/rev-ai">
              <span class="menu-title"> Danh sách </span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'update-revai'}">
            <a class="nav-link" href="admin/update-revai">
              <span class="menu-title"> Thêm REV-AI </span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'config-revai'}">
            <a class="nav-link" href="admin/config-revai">
              <span class="menu-title"> Config REV AI </span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'update-config-revai'}">
            <a class="nav-link" href="admin/update-config-revai">
              <span class="menu-title">Thêm Config REV AI </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#kommunicate-management" aria-expanded="false"
         aria-controls="exam-management">
        <span class="menu-title"> Quản lý Kommunicate </span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-earth menu-icon"></i>
      </a>
     <div class="collapse" id="kommunicate-management">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'kommunicate'}">
            <a class="nav-link" href="admin/kommunicate">
              <span class="menu-title"> Danh sách </span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'update-kommunicate'}">
            <a class="nav-link" href="admin/update-kommunicate">
              <span class="menu-title"> Thêm Kommunicate </span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'kommunicate-bot'}">
            <a class="nav-link" href="admin/kommunicate-bot">
              <span class="menu-title"> Kommunicate Bot </span>
            </a>
          </li> <li class="nav-item" [ngClass]="{'active' : navItemActive == 'update-kommunicate-bot'}">
          <a class="nav-link" href="admin/update-kommunicate-bot">
            <span class="menu-title"> Thêm Kommunicate Bot </span>
          </a>
        </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#gemini-management" aria-expanded="false"
         aria-controls="exam-management">
        <span class="menu-title"> Quản lý Gemini </span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-widgets menu-icon"></i>
      </a>
      <div class="collapse" id="gemini-management">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'gemini'}">
            <a class="nav-link" href="admin/gemini">
              <span class="menu-title"> Danh sách </span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'update-gemini'}">
            <a class="nav-link" href="admin/update-gemini">
              <span class="menu-title"> Thêm Gemini </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
