<div class="col-12 grid-margin stretch-card mb-0">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" [innerText]="title | translate"></h4>
      <form class="forms-sample">
        <div class="form-group mt-3">
          <label> Access Token: </label>
          <div class="col-sm-11">
            <input type="text" class="form-control" name="AccessToken" placeholder="Input AccessToken "
                   [ngClass]="{'error-input-custom': showBorderError}" id="accesstoken"
                   [(ngModel)]="this.params.accessToken">
          </div>
        </div>
        <div class="button mt-5">
          <button class="btn btn-outline-primary ms-2" [ngClass]="{'d-none' : !isAdd}" (click)="addAccount()"> Add </button>
          <button class="btn btn-primary" [ngClass]="{'d-none' : isAdd}" (click)="modify()"> Edit </button>
          <button class="btn btn-outline-primary ms-2" [ngClass]="{'d-none' : isAdd}" (click)="close()"> Cancel </button>
        </div>
      </form>

    </div>
  </div>
</div>
