<div class="container-xl body">
  <div class="row content">
    <div class="col-8 row">
      <h1 class="col-12">WELCOME TO <br/> THE <span>TOEIMASTER</span></h1>
      <div class="col-2"></div>
      <p class="text-xxl col-10 rounded fst-italic">
        Are you ready to unlock new opportunities and advance your career in the global marketplace?
        The Test of English for International Communication <span>(TOEIC)</span> is your gateway to demonstrating your
        English
        proficiency to employers, institutions, and organizations worldwide.</p>
    </div>
    <div class="col-4">
      <img src="assets/images/logo_tachnen.png" alt="logo" class="image1">
    </div>

    <div class="col-12 row">
      <img src="assets/images/why%20choose%20toeic.png" class="col-6" alt="">
      <div class="col-6 d-flex justify-content-center align-items-center">
        <p class="text-xxl rounded fst-italic p-2" style="max-width: 100%; width: 100%;">
          The TOEIC® tests are the global standard for assessing English-language proficiency for the workplace.
          The TOEIC tests accurately measure listening, reading, speaking, and writing skills.
          The tests are used by organizations to make hiring and placement decisions, as well as to determine training
          needs.
          TOEIC test scores provide meaningful feedback about a test-taker's strengths and weaknesses, along with a
          description of the English-language strengths typical of test-takers performing at various score levels.
        </p>
      </div>
    </div>
  </div>


  <div class="introduce">
    <p>Launched in September 2023, aims to help individuals prepare for the Toeic exam.
      Our platform is designed to provide comprehensive resources and support to enhance your Toeic test-taking
      experience.
      Whether you're looking to improve your English proficiency or maximize your TOEIC score, our website is your
      one-stop destination for test prep, practice materials, and expert guidance.
      Join us on your journey towards TOEIC test success and open up countless opportunities with your improved
      English skills.</p>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <p class="d-inline-block border rounded-pill py-1 px-4 fst-italic text-primary">Explore Toeicute's comprehensive
        resources</p>
    </div>
  </div>

</div>

