@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

.content {
  color: #000000;
  /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
}

.content h1 {
  font-size: 80px;
  color: #1B4F93
}

.content span {
  color: #94AAD6
}

.content p {
  font-family: rubik, serif;
  font-size: 20px;
  max-width: 60%;
  background:  rgba(229, 223, 223, 0.1);
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}
.image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.text-primary {
  color: #1B4F93 !important;
  font-weight: 500;
  font-size: 24px;
  border: 2px solid var(--border-primary);
}

.body{
  margin-top: 100px;
}

.introduce {

  max-width: 70%;
  background:  rgba(223, 175,175, 0.36);
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}
.introduce p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 20px;
}
