<app-carousel></app-carousel>
<app-about></app-about>
<app-service></app-service>
<div class="container-fluid py-5 road">
  <div
    class="text-center mx-auto mb-5 wow fadeInUp"
    data-wow-delay="0.1s"
  >
    <p class="d-inline-block border rounded-pill py-1 px-4">Lộ trình</p>
  </div>
  <div class="d-flex align-items-center flex-column g-4">
    <img src="assets/images/lotrinh2.png" alt="" class="img-fluid">
    <img src="assets/images/footer%20image.jpg" alt="" class="img-fluid">
  </div>
</div>


