<div class="profile">
    <div class="content">
      <h1>Chỉnh sửa thông tin</h1>
      <form action="" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <!-- Photo -->
        <fieldset class="d-none">
          <div class="grid-35">
            <label >Ảnh đại diện</label>
          </div>
          <div class="grid-65">
            <span class="photo" title="Thay đổi ảnh đại diện của bạn!"></span>
            <input  type="file" class="btn"  />
          </div>
        </fieldset>
        <fieldset>
          <div class="grid-35">
            <label for="fname">Họ tên</label>
          </div>
          <div class="grid-65">
            <input type="text" id="fname" tabindex="1" formControlName="fullName" [ngModel]="currentUser?.fullName" />
          </div>
        </fieldset>
        <!-- Email -->
        <fieldset>
          <div class="grid-35">
            <label for="email"> Email</label>
          </div>
          <div class="grid-65">
            <input type="email" class="border-none" readonly id="email" tabindex="2" [value]="currentUser?.email"/>
          </div>
        </fieldset>
        <!-- Phone -->
        <fieldset>
          <div class="grid-35">
            <label for="email">Số điện thoại </label>
          </div>
          <div class="grid-65">
            <input type="email" id="phone" tabindex="3" formControlName="phone" [ngModel]="currentUser?.phone"/>
          </div>
        </fieldset>

        <!-- Location -->
        <fieldset>
          <div class="grid-35">
            <label for="location">Địa chỉ</label>
          </div>
          <div class="grid-65">
            <input type="text" id="location" tabindex="4" formControlName="address" [ngModel]="currentUser?.address"/>
          </div>
        </fieldset>

        <fieldset>
          <input type="button" class="Btn cancel" value="Hủy" (click)="closeModal()" />
          <input type="submit" class="Btn" value="Lưu thay đổi" />
        </fieldset>

      </form>
    </div>
  </div>
