.main-info-test {
  border: 2px solid #b5b1b1;
  border-radius: 10px;
}

.bg-light-success {
  background-color: #d4edda;
}

.border-1 {
  border-radius: 4px;
  border: 1px solid #9bf1b0;
}

.bg-light-warning {
  background-color: #fff3cd;
  height: 60px;
  border: 1px solid #fff3cd;
}
