<app-page-header
  [title]="title"
  [currentPage]="currentPage">
</app-page-header>

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <button class="btn btn-block btn-lg btn-gradient-primary" (click)="openFormAdd()">Thêm mới</button>
        </h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th style="width: 15%;"> Mã bộ đề thi</th>
              <th style="width: 40%;"> Tên bộ đề thi</th>
              <th style="width: 30%;"> Hình ảnh</th>
              <th style="width: 15%;"> #</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
