<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="d-flex flex-column">
          <img
            class="img-fluid rounded w-75 align-self-end"
            src="assets/images/about-1.jpg"
            alt=""
          />
          <img
            class="img-fluid rounded w-50 bg-white pt-3 pe-3"
            src="assets/images/about-2.jpg"
            alt=""
            style="margin-top: -25%"
          />
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <p class="d-inline-block border rounded-pill py-1 px-4">Về chúng tôi</p>
        <h1 class="mb-4">
          Tại sao bạn nên tin tưởng chúng tôi? Tìm hiểu về chúng tôi!
        </h1>
        <p>
          Doctor Care được thành lập vào năm 2006 và hiện là một trong những
          thương hiệu chăm sóc sức khỏe tự nhiên hàng đầu của Úc với cơ sở sản
          xuất hiện đại nằm giữa hai Công viên Quốc gia độc đáo nhất của Úc trên
          những bãi biển mang tính biểu tượng phía Bắc.
        </p>
        <p class="mb-4">
          Doctor Care có cơ hội tiếp cận kho kiến thức và kinh nghiệm phong phú
          kéo dài 30 năm, khiến các sản phẩm của chúng tôi trở thành lựa chọn phù
          hợp cho sức khỏe và hạnh phúc của bạn và gia đình bạn.
        </p>
        <p>
          <i class="far fa-check-circle text-primary me-3"></i>Chất lượng là trên
          hết
        </p>
        <p>
          <i class="far fa-check-circle text-primary me-3"></i>Chăm sóc bằng tài
          năng, y đức và sự thấu cảm
        </p>
        <p>
          <i class="far fa-check-circle text-primary me-3"></i>4 chữ C-A- R-E với
          ý nghĩa:
        </p>
        <ul>
          <li>
            <span class="text-capitalize fw-bold">Creativity – Sự sáng tạo:</span>
            Không ngừng sáng tạo và đổi mới nhằm mang lại các giải pháp tốt cho
            người bệnh.
          </li>
          <li>
          <span class="text-capitalize fw-bold"
          >Accountability – Trách nhiệm:</span
          >
            Chịu trách nhiệm cao nhất với bệnh nhân và người nhà của họ về y đức,
            kỹ năng, tri thức và các tiêu chuẩn chuyên môn tại Vinmec.
          </li>
          <li>
            <span class="text-capitalize fw-bold">Reliability – Sự tin cậy:</span>
            Cam kết chỉ làm những điều tốt cho bệnh nhân, mang lại độ tin cậy cao
            nhất cho cộng đồng.
          </li>
          <li>
            <span class="text-capitalize fw-bold">Excellence – Sự hoàn hảo:</span>
            Hướng tới chất lượng dịch vụ cao nhất và quy trình khám chữa bệnh tốt.
          </li>
        </ul>
        <a class="btn btn-success rounded-pill py-3 px-5 mt-3" href=""
        >Xem thêm</a
        >
      </div>
    </div>
  </div>
</div>
