<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="d-flex flex-column">
          <img
            class="img-fluid rounded w-75 align-self-end"
            src="assets/images/about-1.jpg"
            alt=""
          />
          <img
            class="img-fluid rounded w-50 bg-white pt-3 pe-3"
            src="assets/images/about-2.jpg"
            alt=""
            style="margin-top: -25%"
          />
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">

        <h1 class="mb-4 text-primary" >
          Tại sao bạn nên chọn ToeicUte ?
        </h1>
        <h6 class="text-primary"> <i class="far fa-check-circle text-primary me-3"></i> Chất lượng đề thi: </h6>
        <p>
          Chúng tôi cam kết cung cấp các đề thi TOEIC chất lượng cao,
          phản ánh đầy đủ cấu trúc và nội dung của bài thi thực tế. Các đề thi được thiết kế cẩn thận,
          giúp bạn nắm rõ cấu trúc đề, kiểm tra khả năng và chuẩn bị tốt cho kỳ thi thực sự.
        </p>
        <h6 class=" "> <i class="far fa-check-circle text-primary me-3"></i> Đa dạng và cập nhật: </h6>
        <p class="mb-4">
          Trang web của chúng tôi cung cấp một loạt các đề thi với độ khó và dạng bài đa dạng,
          giúp bạn rèn luyện và cải thiện từ vựng, ngữ pháp, và kỹ năng làm bài.
          Chúng tôi liên tục cập nhật nội dung để phản ánh những thay đổi mới nhất trong kỳ thi TOEIC.
        </p>
        <h6 class="text-primary"> <i class="far fa-check-circle text-primary me-3"></i> Phản hồi và gợi ý: </h6>
        <p class="mb-4">
           Sau khi làm bài thi, chúng tôi cung cấp phản hồi chi tiết về điểm số,
          Điều này giúp bạn hiểu rõ hơn về những điểm yếu cần cải thiện và phát triển kỹ năng làm bài.
        </p>
        <h6 class="text-primary"> <i class="far fa-check-circle text-primary me-3"></i> Tiện lợi và linh hoạt: </h6>
        <p class="mb-4">
           Trang web của chúng tôi được thiết kế dễ sử dụng,
          linh hoạt cho việc học tập từ xa. Bạn có thể truy cập từ bất kỳ thiết bị nào có kết nối internet,
          tùy chọn thời gian và địa điểm thi theo lịch trình cá nhân.
        </p>


        <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href=""
        >Xem thêm</a
        >
      </div>
    </div>
  </div>
</div>
