.page-header {
  background: url(/assets/images/page-header-2.jpg) bottom center no-repeat;
  background-size: cover;
  text-shadow: 0 0 30px rgba(0, 0, 0, .1);
  -webkit-filter: contrast(1.25);
  filter: contrast(1.25);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--primary-300);
}

.page-header::after {
  -webkit-filter: blur(4px) invert(1) contrast(0.75);
  filter: blur(4px) invert(1) contrast(0.75);
  mix-blend-mode: overlay;
}

.card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, .15);
  cursor: pointer;
}

