<div class="container-fluid page-header py-5 mb-5 wow fadeIn"
     data-wow-delay="0.1s"
     id="header"
>
  <app-page-header [nextItem]="'Danh sách bài thi'"></app-page-header>
</div>
<div class="container-fluid mb-5" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Thư viện đề thi</h2>
      </div>
    </div>
    <div class="d-flex col-12 justify-content-center flex-wrap">
      <ng-container *ngFor="let item of listTopic; let i = index; trackBy: trackByIndexTopic">
        <button class="btn btn-outline-primary me-1 btn-sm col-4 col-sm-4 col-md-2 mb-2"
                [ngClass]="{'active': i === currentIndexTopic}"
                (click)="changeTopic(i)"
        > {{item.topicName}}
        </button>
      </ng-container>
    </div>
  </div>
  <div class="container-md mt-3">
    <ng-container *ngIf="listExam.length !== 0; else noData">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Danh sách đề thi</h2>
        </div>
      </div>
      <div class="row g-3 justify-content-center">
        <ng-container *ngFor="let item of listExam; let i = index; trackBy: trackByIndexExam">
          <div class="card col-8 col-sm-6 col-md-3 col-xl-2 me-2">
            <div class="card-body">
              <h5 class="card-title">{{item.examName}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                <span><i class="fa-solid fa-clock"></i> 120 phút</span> |
                <span><i class="fa-solid fa-user"></i> {{item?.numberOfUserDoExam}}</span>
              </h6>
              <p class="card-text">7 phần thi | 200 câu hỏi</p>
              <nz-tag [nzColor]="'#17202a'">#toeic</nz-tag>
            </div>
            <div class="card-footer">
              <button class="btn btn-outline-primary " (click)="openDetailExam(item)">Chi tiết</button>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>


<ng-template #noData>
  <div class="row">
    <div class="col-12">
      <nz-empty></nz-empty>
    </div>
  </div>
</ng-template>
