<div class="row">
  <div class="col-12">
    <p class="mt-3 fs-6 part-content">
      {{ part?.partContent }}
    </p>
  </div>
  <div class="col-5" [ngClass]="{'d-none': partIndex == 0}">
    <app-audio-part [audioSource]="part?.partAudio"></app-audio-part>
  </div>
  <ng-container *ngFor="let item of part?.questions; let part3Index = index;">
    <div class="row">
      <ng-container *ngIf="part3Index % numberQuestion == 0">
                <span class="col-12 mt-2 fs-6 fw-bold fs-6">Question {{ item?.questionNumber }}
                  - {{ Number(item?.questionNumber) + 2 }}
                  refer to
                  following conversation: </span>
        <ng-container *ngIf="item?.questionImage">
          <div class="col-7 fs-6 paragraph" translate="no">
            <img nz-image
                 class="nz-image"
                 loading="lazy"
                 [nzSrc]="item?.questionImage"
                 [alt]="'TOEICUTE'"
            />
          </div>
        </ng-container>
        <div class="col-5 px-2">
          <div class="row">
            <ng-container *ngFor="let i of counter(numberQuestion); let counterIndex = index;">
              <div class="col-12 mt-1 fw-bold fs-6 mt-3" translate="no"
                   id="questionContainer_5_{{part?.questions[part3Index + counterIndex]?.questionId}}">
                Câu  {{ part?.questions[part3Index + counterIndex]?.questionNumber }}: {{ part?.questions[part3Index + counterIndex]?.questionContent }}
              </div>

              <div class="col-12">
                <nz-radio-group nzName="radiogroup" translate="no"
                                [(ngModel)]="selectedAnswer[part?.questions[part3Index + counterIndex]?.questionId]"
                                (ngModelChange)="changeStateButton($event, part?.questions[part3Index + counterIndex]?.questionId)">
                  <label nz-radio
                         nzValue="A">{{ part?.questions[part3Index + counterIndex]?.answerA }}</label>
                  <label nz-radio
                         nzValue="B">{{ part?.questions[part3Index + counterIndex]?.answerB }}</label>
                  <label nz-radio
                         nzValue="C">{{ part?.questions[part3Index + counterIndex]?.answerC }}</label>
                  <label nz-radio
                         nzValue="D">{{ part?.questions[part3Index + counterIndex]?.answerD }}</label>
                </nz-radio-group>
              </div>
            </ng-container>
          </div>
        </div>
        <nz-divider></nz-divider>
      </ng-container>
    </div>
  </ng-container>
  <div class="col-12 d-flex justify-content-between">
    <a class="btn btn-link" (click)="previousPart()">
      <i class="fa fa-arrow-left"></i>
      Previous Part
    </a>
    <a class="btn btn-link" (click)="nextPart()">
      Next Part
      <i class="fa fa-arrow-right"></i>
    </a>
  </div>
</div>
