<app-page-header
  [title]="this.title"
  [currentPage]="this.currentPage"
></app-page-header>
<div class="container-fluid stretch-card">
  <div class="card">
    <div class="card-body">
      <div nz-row>
        <nz-form-item nz-col nzSpan="6" class="me-3">
          <nz-form-label><i class="fa-solid fa-filter me-2"></i> Filter by status</nz-form-label>
          <nz-form-control>
            <nz-select name="select-status" [(ngModel)]="params.status" (ngModelChange)="onChange($event)">
              <nz-option *ngFor="let status of listStatus" [nzValue]="status.value"
                         [nzLabel]="status.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <table class="table" aria-label="toeicute">
        <thead>
        <tr>
          <th> ID </th>
          <th>Username</th>
          <th>Avatar</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Status</th>
          <th>User Type</th>
          <th> # </th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of listUser">
          <tr>
            <td>{{item?.user_id}}</td>
            <td>{{item?.full_name}}</td>
            <td><img nz-image [nzSrc]="item?.avatar" style="height: 60px; width: 60px;" alt="toeicute" /></td>
            <td>{{item?.email}}</td>
            <td>{{item?.phone}}</td>
            <td>{{item?.address}}</td>
            <td>
              <label class="badge badge-gradient-{{this.getCssStatus(item?.status)}}">{{item?.status}}</label>
            </td>
            <td>
              {{item?.userType | translate}}
            </td>
            <td>
              <ng-container *ngIf="item?.status == 'ACTIVE'">
                <button class="btn btn-sm btn-outline-danger " (click)="changeState(item?.user_id,'BLOCKED')"> BLOCK </button>
              </ng-container>
              <ng-container *ngIf="item?.status == 'BLOCKED'">
                <button class="btn btn-sm btn-gradient-primary" (click)="changeState(item?.user_id,'ACTIVE')">UN BLOCK</button>
              </ng-container>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
      <div class="mt-2 d-flex flex-row-reverse">
        <nz-pagination
          [(nzPageIndex)]="this.params.page"
          [nzTotal]="totalElements"
          [nzShowTotal]="rangeTemplate"
          nzShowSizeChanger
          [(nzPageSize)]="this.params.size"
          (nzPageIndexChange)="changePage($event)"
          (nzPageSizeChange)="changeSize($event)"
        ></nz-pagination>
      </div>
    </div>
  </div>
</div>
<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} of {{ total }} items
</ng-template>
