<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Quên mật khẩu</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="handleClose()"></button>
  </div>
  <div class="modal-body">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img ngSrc="/assets/images/forgotPass.jpg" alt="forget-password" class="img" height="360" width="450"/>
      <h5>Quên mật khẩu</h5>
      <p style="color: red">*Lưu ý: Email này chỉ có hiệu lực trong vòng 48h</p>
    </div>
    <form class="form-forgot mt-2">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-envelope"></i></span>
        <input type="email" class="form-control" placeholder="Nhập Email của tài khoản quên mật khẩu"
               [(ngModel)]="param.email" required/>
      </div>
      <div class="mb-3 d-flex flex-column align-items-center">
        <button type="button" class="btn btn-primary px-5 mb-3" style="background-color: #98154c; border-radius: 10px"
                (click)="resetPassword()">Cấp lại mật khẩu
        </button>
      </div>
    </form>
  </div>
</div>
