<div class="container py-3">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Bảng giá</h1>
      <p class="fs-5 text-muted">
        Toeicute cung cấp các gói thành viên phù hợp với nhu cầu của bạn. Giúp bạn học Toeic hiệu quả hơn.
      </p>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center d-flex justify-content-center">
      @for (item of list.listPlan; track item) {
        <div class="col">
          <div class="card h-100 mb-4 rounded-3 shadow-sm border-primary ">
            <div class="card-header py-3 text-white bg-primary border-primary">
              <h4 class="my-0 fw-normal">{{ item.planName }}</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">{{ item.planPrice | currency : 'VND' }}</h1>
              <p class="card-text">{{ item.description }}</p>
            </div>
            <div class="card-footer">
              <button type="button" class="w-100 btn btn-lg btn-primary" (click)="buyPackage(item)">{{item.planPrice === 0 ? 'Xem thêm' : 'Mua ngay'}}</button>
            </div>
          </div>
        </div>
      }
    </div>

    <h2 class="display-6 text-center mb-4">So sánh giữa các gói thành viên</h2>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
        <tr>
          <th></th>
          @for (item of list.listPlan; track item) {
            <th>{{ item.planName }}</th>
          }
        </tr>
        </thead>
        <tbody>
          @for (item of list.listDetail; track item) {
            <tr>
              <th scope="row" class="text-start">{{ item.planDetailName }}</th>
              @for (item1 of item.listStatus; track item1) {
                <td>
                  @if (item1) {
                    <span nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></span>
                  } @else {
                    <span nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f10729'"></span>
                  }
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  </main>
</div>

<ng-template #drawerTemplate let-drawerRef="drawerRef">
  <form action="" method="post">
    @for (item of listMethodPayment; track item; let i = $index) {
      <div class="pymt-radio">
        <div class="row-payment-method payment-row-last">
          <div class="select-icon hr">
            <input type="radio" [id]="'radio' + i" name="radios" [(ngModel)]="paymentMethod" [value]="item.value">
            <label [for]="'radio' + i"></label>
          </div>
          <div class="select-txt hr">
            <p class="pymt-type-name">{{ item.name }}</p>
          </div>
          <div class="select-logo">
            @for (img of item.image; track img; let i2 = $index) {
              <div class="select-logo-sub " [ngClass]="{'logo-spacer': i2===0}">
                <img [ngSrc]="img.url" alt="Visa" [height]="img.height" [width]="img.width"/>
              </div>
            }
          </div>
        </div>
      </div>
    }
  </form>
</ng-template>

<ng-template #footer>
  <button nz-button nzType="primary" (click)="continueBuy()">Tiếp tục</button>
</ng-template>
