<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
  <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
    <h1 class="m-0 text-primary d-flex align-items-center">
      <img src="assets/images/logo_tachnen.png" width="60" height="60" alt="">
      Toeicute
    </h1>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a href="" class="nav-item nav-link active">Trang chủ</a>
      <a href="" class="nav-item nav-link">Đề thi</a>
      <a href="" class="nav-item nav-link">Dịch vụ</a>
      <a href="" class="nav-item nav-link">Liên hệ</a>
      <a href="javascript:;" (click)="openLogin()" class="nav-item nav-link">Đăng nhập</a>
      <a href="" class="nav-item nav-link d-none">Lịch sử khám bệnh</a>
      <a href="" class="nav-item nav-link d-none" id="logout">Đăng xuất</a>
      <a href="" class="nav-item nav-link d-xl-none">Thi thử</a>
    </div>
    <a href="" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">
      Thi thử<i class="fa fa-arrow-right ms-3"></i>
    </a>
  </div>
</nav>
