<div class="col-12 grid-margin stretch-card mb-0">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" [innerText]="title"></h4>
      <form class="forms-sample">
        <div class="form-group mt-4">
          <label> UserName: </label>
          <div class="col-sm-11">
            <input type="text" class="form-control" name="username"  placeholder="Input UserName "
                   [ngClass]="{'error-input-custom': showBorderError[0]}" id="username"
                   [(ngModel)]="this.params.username" [readonly]="!isAdd" [disabled]="!isAdd">
          </div>
        </div>
        <div class="form-group mt-3">
          <label> Password: </label>
          <div class="col-sm-11">
            <input type="text" class="form-control" name="password" placeholder="Input password "
                   [ngClass]="{'error-input-custom': showBorderError[1]}" id="pass"
                   [(ngModel)]="this.params.password">
          </div>
        </div>
        <div class="button mt-5">
          <button class="btn btn-primary" (click)="addAccount()"> {{ isAdd? 'Add' : 'Edit' }}</button>
          <button class="btn btn-outline-primary ms-2" [ngClass]="{'d-none' : isAdd}" (click)="close()"> Cancel </button>
        </div>
      </form>
    </div>
  </div>
</div>
