<div class="container-fluid bg-primary overflow-hidden my-5 px-lg-0">
  <div class="container feature px-lg-0">
    <div class="row g-0 mx-lg-0">
      <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="p-lg-5 ps-lg-0">
          <h1 class="text-white mb-4">Tầm nhìn tương lai </h1>
          <p class="text-white mb-4 pb-2">
            Trang web của chúng tôi hướng đến việc mang đến trải nghiệm học tập tốt nhất cho cộng đồng ôn thi TOEIC.
            Với cam kết mở rộng nền tảng đa dạng đề thi và tài nguyên học tập, chúng tôi sử dụng công nghệ tiên tiến như
            trí tuệ nhân tạo để cung cấp phản hồi chi tiết và gợi ý cá nhân hóa. Chúng tôi khuyến khích sự giao lưu,
            chia sẻ kinh nghiệm qua cộng đồng học tập và không ngừng nỗ lực để đa dạng hóa dịch vụ và nội dung,
            đem đến cho người dùng những công cụ học tập linh hoạt và phong phú nhất để chuẩn bị tốt nhất cho kỳ thi TOEIC.
          </p>
          <div class="row g-4">
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div
                  class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                  style="width: 55px; height: 55px"
                >
                  <i class="fa fa-user-md text-success"></i>
                </div>
                <div class="ms-4">
                  <p class="text-white mb-2">Tích hợp</p>
                  <h5 class="text-white mb-0">Công nghệ mới</h5>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div
                  class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                  style="width: 55px; height: 55px"
                >
                  <i class="fa fa-check text-success"></i>
                </div>
                <div class="ms-4">
                  <p class="text-white mb-2">Nâng cao</p>
                  <h5 class="text-white mb-0">Chất lượng</h5>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div
                  class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                  style="width: 55px; height: 55px"
                >
                  <i class="fa fa-comment-medical text-success"></i>
                </div>
                <div class="ms-4">
                  <p class="text-white mb-2">Mở rộng</p>
                  <h5 class="text-white mb-0">Nền tảng</h5>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div
                  class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                  style="width: 55px; height: 55px"
                >
                  <i class="fa fa-headphones text-success"></i>
                </div>
                <div class="ms-4">
                  <p class="text-white mb-2">Xây dựng</p>
                  <h5 class="text-white mb-0">Cộng đồng học tập </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 pe-lg-0 wow fadeIn"
        data-wow-delay="0.5s"
        style="min-height: 400px"
      >
        <div class="position-relative h-100">
          <img
            class="position-absolute img-fluid w-100 h-100"
            src="assets/images/feature.jpg"
            style="object-fit: cover"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
