<div class="col-12 grid-margin stretch-card mb-0">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" [innerText]="title"></h4>
      <form class="forms-sample">
        <div class="form-group">
          <label for="examName">Tên đề thi</label>
          <input type="text" class="form-control" [ngClass]="{'error-input-custom': showBorderError}" id="examName"
                 [(ngModel)]="param.examName" placeholder="Nhập tên đề thi">
        </div>
        <div class="form-group">
          <label for="examTopic">Bộ đề thi</label>
          <select class="form-control" id="examTopic" [(ngModel)]="param.topicId">
            <option value="">-- Chọn bộ đề thi --</option>
            <ng-container *ngFor="let topic of listTopic">
              <option [value]="topic?.topicId">{{topic?.topicName}}</option>
            </ng-container>
          </select>
        </div>

        <ng-container *ngFor="let part of audioParts; let i = index">
          <div class="form-group">
            <label>{{ 'Audio part ' + (i + 1) }}</label>
            <input type="file" [name]="'audio-part' + (i + 1)" (change)="onFileSelected($event, i)" accept="audio/*"
                   class="file-upload-default" #fileInput>
            <div class="input-group col-xs-12">
              <input type="text" class="form-control file-upload-info" [value]="selectedFiles[i]?.name" disabled
                     [placeholder]="'Audio part ' + (i + 1)">
              <span class="input-group-append">
                <button type="button" class="file-upload-browse btn btn-gradient-danger btn-icon-text"
                        (click)="triggerFileInput(fileInput)">
                            <i class="mdi mdi-upload btn-icon-prepend"></i> Tải lên</button>
              </span>
            </div>
          </div>
        </ng-container>
      </form>
      <button class="btn btn-gradient-primary me-2" (click)="addNewExam()">Thêm</button>
      <button class="btn btn-light" (click)="cancel()">Hủy</button>
    </div>
  </div>
</div>
