<div class="mainDiv">
  <div class="cardStyle">
    <form action="" method="post" name="signupForm" id="signupForm">

      <img ngSrc="/assets/images/logo_tachnen.png" id="signupLogo" alt="toeicute" height="300" width="300"/>

      <h2 class="formTitle">
        Change your password
      </h2>

      <div class="inputDiv">
        <label class="inputLabel" for="password">Current password</label>
        <input type="password" id="currentPassword" name="password" [(ngModel)]="param.currentPassword" required>
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="password">New password </label>
        <input type="password" id="password" name="password" [(ngModel)]="param.newPassword" required>
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Confirm password</label>
        <input type="password" id="confirmPassword" [(ngModel)]="param.confirmPassword" name="confirmPassword">
      </div>

      <div class="buttonWrapper">
        <button type="submit" id="submitButton" (click)="changePassword()"
                class="submitButton pure-button pure-button-primary">
          <span>Change Password</span>
        </button>
      </div>

    </form>
  </div>
</div>
