<div class="col-12 grid-margin stretch-card mb-0">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" [innerText]="title"></h4>
      <form class="forms-sample">
        <div class="form-group mt-3">
          <label> API Key: </label>
          <div class="col-sm-11">
            <input type="text" class="form-control" name="apikey" placeholder="Input APIKey "
                   [ngClass]="{'error-input-custom': showBorderError[0]}" id="apikey"
                   [(ngModel)]="params.apiKey">
          </div>
        </div>
        <div class="button mt-5">
          <button class="btn btn-primary" (click)="addAccount()"> {{ isAdd ? 'Add' : 'Edit' }}</button>
          <button class="btn btn-outline-primary ms-2" [ngClass]="{'d-none' : isAdd}" (click)="close()"> Cancel </button>
        </div>
      </form>
    </div>
  </div>
</div>
