<div class="container mt-3 mb-3">
  <div class="row">
    <h1 class="col-12 text-center">Danh sách đề thi</h1>
    <hr>
    <div class="d-flex justify-content-center">
      @for (item of list; track item) {
        <div class="card col-8 col-sm-6 col-md-3 col-xl-2 me-2">
          <div class="card-body">
            <h5 class="card-title">{{ item.examName }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <span><i class="fa-solid fa-clock"></i> 120 phút</span>
            </h6>
            <p class="card-text">7 phần thi | 200 câu hỏi</p>
            <nz-tag [nzColor]="'#000'">#toeic</nz-tag>
          </div>
          <div class="card-footer">
            <button class="btn btn-outline-primary " (click)="openDetailExam(item)">Thi</button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
