<div class="d-flex justify-content-center align-items-center margin">
  <div class="col-md-4 mt-5 container">

    <mat-card-content>
      <div class="card-title">
        <div class="w-100 d-flex flex-row-reverse"><button type="button" class="btn  btn-close" aria-label="Close"></button></div>
        <img class="header-image " src="/assets/images/logo.jpg">
        <h3 class="text-center">Register here !!!</h3>
      </div>

      <form>
        <mat-form-field class="full-width input-group" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput placeholder="Enter your Email " />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Phone Number </mat-label>
          <input
            matInput placeholder="Enter your phone number" />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password" matInput placeholder="Enter here" />
        </mat-form-field>

        <div class="btn-submit">
          <button type="button" class="custom-btn btn btn-outline-primary">Register </button>
        </div>
      </form>
    </mat-card-content>

  </div>
</div>


