<ng-container *ngIf="canActivate">
  <div class="container-scroller">
    <app-navbar></app-navbar>
    <div class="container-fluid page-body-wrapper">
      <app-sidebar></app-sidebar>
      <div class="main-panel mt-5">
        <div class="content-wrapper">
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Bạn chờ chút nhé...</p>
</ngx-spinner>
<button (click)="scrollToTop()" class="back-to-top-btn">
  <i class="fa fa-arrow-up"></i>
</button>
