<app-page-header
  [title]="title"
  [currentPage]="currentPage">
</app-page-header>

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div nz-row>
        <nz-form-item nz-col nzSpan="6" class="me-3">
          <nz-form-label>Lọc theo kiểu file</nz-form-label>
          <nz-form-control>
            <nz-select name="select-type" [(ngModel)]="params.type" (ngModelChange)="onChangeType($event)">
              <nz-option *ngFor="let type of listType" [nzValue]="type.value" [nzLabel]="type.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col nzSpan="6" class="me-3">
          <nz-form-label>Sắp xếp theo ngày </nz-form-label>
          <nz-form-control>
            <nz-select name="select-sort" [(ngModel)]="params.sort" (ngModelChange)="onChangeSort($event)">
              <nz-option *ngFor="let sort of listSort" [nzValue]="sort.value" [nzLabel]="sort.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col nzSpan="6" class="me-3">
          <nz-form-label>Chọn ngày</nz-form-label>
          <nz-form-control>
            <div class="input-group">
              <span class="input-group-text"><i class="fa-regular fa-clock"></i></span>
              <input
                class="form-control txt-event-date"
                placeholder="dd-MM-yyyy"
                name="drp"
                [(ngModel)]="rangeDate"
                bsDaterangepicker readonly
                [bsConfig]="{ isAnimated: true, adaptivePosition: true  }"
                [outsideClick]="true"
                [maxDate]="maxDate"
                (bsValueChange)="onChangeDate($event)"
              />
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="table-responsive">
        <div class="d-flex flex-row-reverse mb-2">
          <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon"
                  title="Làm mới"
                  (click)="getListHistoryUpload()"
          >
            <i class="mdi mdi-refresh text-danger"></i>
          </button>
        </div>
        <table class="table table-bordered table-striped table-hover layout-auto">
          <thead>
          <tr>
            <th> Id</th>
            <th> Tên File</th>
            <th> Kiểu file</th>
            <th> Kích thước file</th>
            <th> Ngày Upload</th>
            <th> Đường Link</th>
            <th> #</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of listUpload">
            <td>{{ data.id }}</td>
            <td style="max-width: 150px;" class="text-truncate">{{ data.fileName }}</td>
            <td>{{ data.fileType }}</td>
            <td>{{ data.fileSize }}kb</td>
            <td>{{ data.uploadDate | date : formatDate: timeZone }}</td>
            <td>
              <ng-container *ngIf="isAudio(data.fileType)">
                <audio controls>
                  <source [src]="data.fileUrl" type="audio/mpeg">
                  Your browser does not support the audio tag.
                </audio>
              </ng-container>
              <ng-container *ngIf="isImage(data.fileType)">
                <img
                  nz-image
                  width="120px"
                  height="100px"
                  [nzSrc]="data.fileUrl"
                  alt="toeic"
                />
              </ng-container>
            </td>
            <td>
              <button class="btn btn-danger btn-rounded btn-sm d-flex justify-content-center"
                      (click)="deleteHistoryUpload(data.id)"> Xóa
              </button>
            </td>
          </tr>
          <tr class="bg-light">
            <td [colSpan]="3" class="text-end fw-bold">Tổng cộng:</td>
            <td class="fw-bold">{{totalSize}}MB</td>
            <td colspan="3"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-2 d-flex flex-row-reverse">
        <nz-pagination
          [(nzPageIndex)]="this.params.page"
          [nzTotal]="totalElements"
          [nzShowTotal]="rangeTemplate"
          nzShowSizeChanger
          [(nzPageSize)]="this.params.size"
          (nzPageIndexChange)="changePage($event)"
          (nzPageSizeChange)="changeSize($event)"
        ></nz-pagination>
      </div>
    </div>
  </div>
</div>
<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} of {{ total }} items
</ng-template>
