<div class="col-12 grid-margin stretch-card mb-0">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" [innerText]="title"></h4>
      <form nz-form>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Project Id</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10" >
            <input nz-input class="border" [ngModel]="'Input Id'" name="projectId" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Token key</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10" >
            <input nz-input class="border" [ngModel]="'Input Token'" name="token"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Bucket Name</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10" >
            <input nz-input class="border" [ngModel]="'Input Bucket'" name="bucket"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5">FileJson </nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="10">
            <input nz-input class="border" [ngModel]="'Input Json'" name="json" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 8 }">
            <button nz-button class="btn-add"> Thêm </button>
          </nz-form-control>
        </nz-form-item>

      </form>
    </div>
  </div>
</div>
