<div class="col-12 grid-margin stretch-card mb-0">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" [innerText]="title"></h4>
      <form class="forms-sample">
        <div class="form-group mt-4">
          <label> Email: </label>
          <div class="col-sm-11">
            <input type="email" class="form-control" name="email"  placeholder="Nhập email " [(ngModel)]="this.params.email" [readonly]="!isAdd" [disabled]="!isAdd">
          </div>
        </div>
        <div class="form-group mt-3">
          <label> Password: </label>
          <div class="col-sm-11">
            <input type="text" class="form-control" name="password" placeholder="Nhập password " [(ngModel)]="this.params.password">
          </div>
        </div>
        <div class="button mt-5">
          <button class="btn btn-primary" (click)="addAccount()"> {{ isAdd? 'Thêm' : 'Sửa' }}</button>
          <button class="btn btn-outline-primary ms-2" [ngClass]="{'d-none' : isAdd}" (click)="close()"> Hủy </button>
        </div>
      </form>
    </div>
  </div>
</div>
