<app-page-header
  [title]="title"
  [currentPage]="currentPage">
</app-page-header>

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="card-title col-2 d-flex g-2">
          <h4>
            <button class="btn btn-sm btn-primary btn-gradient-primary" (click)="openFormAdd()">Add New</button>
          </h4>
          <h4 class="ms-2">
            <button class="btn btn-sm btn-outline-primary btn-gradient-primary" (click)="getBlog()">Refresh</button>
          </h4>
        </div>
        <div class="col-6 margin">
          <nz-form-item nz-row class="me-4">
            <nz-form-label nz-col nzSpan="6">Sort by date</nz-form-label>
            <nz-form-control nz-col nzSpan="6">
              <nz-select name="select-sort" [(ngModel)]="params.sort" (ngModelChange)="onChangeSort($event)">
                <nz-option *ngFor="let sort of listSort" [nzValue]="sort.value" [nzLabel]="sort.label"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-table #borderedTable nzBordered [nzData]="listBlog" [nzShowPagination]="false" nzTableLayout="fixed">
        <thead>
        <tr>
          <th scope="col">Author</th>
          <th scope="col">Title</th>
          <th scope="col">Summary</th>
          <th scope="col">Image</th>
          <th scope="col">Creation Date</th>
          <th scope="col">Update Date</th>
          <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>
          @for (data of borderedTable.data; track data) {
            <tr>
              <td>{{ data.author }}</td>
              <td nzEllipsis [popover]="data.title">{{ data.title }}</td>
              <td>{{ data.summary }}</td>
              <td><img nz-image [nzSrc]="data.thumbnail" style="height: 100px; width: 100px;" [alt]="data?.thumbnail">
              </td>
              <td>{{ data.createdAt | date : formatDate: timeZone }}</td>
              <td>{{ data.updatedAt | date : formatDate: timeZone }}</td>
              <td>
                <button class="btn btn-success btn-rounded btn-sm me-2 " (click)="update(data)"> Edit</button>
                <button class="btn btn-primary btn-rounded btn-sm me-2" (click)="openDetail(data)"> View</button>
                <button class="btn btn-danger btn-rounded btn-sm mt-2" (click)="deleteBlog(data.blogId)"> Delete
                </button>
              </td>
            </tr>
          }
        </tbody>
      </nz-table>
      <div class="mt-2 d-flex flex-row-reverse">
        <nz-pagination
          [(nzPageIndex)]="this.params.page"
          [nzTotal]="totalElements"
          [nzShowTotal]="rangeTemplate"
          nzShowSizeChanger
          [(nzPageSize)]="this.params.size"
          (nzPageIndexChange)="changePage($event)"
          (nzPageSizeChange)="changeSize($event)"
        ></nz-pagination>
      </div>
    </div>
  </div>
</div>
<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} of {{ total }} items
</ng-template>
