<div class="container" [ngClass]="{'right-panel-active' : isRegisterTab}" id="container">
  <div class="form-container sign-up-container">
    <form [formGroup]="registerForm">
      <h1>Tạo tài khoản</h1>
      <div class="social-container">
        <a href="javascript:;" class="btn btn-facebook" (click)="loginWithFB()">
          <i class="fab fa-facebook-f me-2"></i>
          <span>Continue with Facebook</span>
        </a>
        <asl-google-signin-button class="social" text="continue_with" type='standard' size='medium'><i
          class="fab fa-google-plus-g"></i></asl-google-signin-button>
      </div>
      <span>Hoặc sử dụng email của bạn để đăng ký </span>
      <input formControlName="email"
             type="email"
             [ngClass]="{'borderError': this.showBorderError[0]}"
             placeholder="Email" required/>
      <input formControlName="fullName"
             type="text"
             [ngClass]="{'borderError': this.showBorderError[1]}"
             placeholder="Họ và tên " required/>
      <input formControlName="password"
             type="password"
             [ngClass]="{'borderError': this.showBorderError[2]}"
             placeholder="Mật khẩu " required/>
      <input formControlName="confirmPassword"
             type="password"
             [ngClass]="{'borderError': this.showBorderError[3]}"
             placeholder="Nhập lại mật khẩu" required/>
      <button (click)="register()">Đăng ký</button>
      <span class="mt-3 d-sm-none">Đã có tài khoản? <a href="javascript:;" (click)="switchTab()"
                                                       class="text-decoration-underline">Đăng nhập</a></span>
    </form>
  </div>
  <div class="form-container sign-in-container" [ngClass]="{'d-none' : isRegisterTab}">
    <form>
      <h1>Đăng nhập</h1>

      <div class="social-container">
        <a href="javascript:;" class="btn btn-facebook" (click)="loginWithFB()">
          <i class="fab fa-facebook-f me-2"></i>
          <span>Continue with Facebook</span>
        </a>
        <asl-google-signin-button class="social" text="continue_with" type='standard' size='medium'><i
          class="fab fa-google-plus-g"></i></asl-google-signin-button>
      </div>

      <span>Hoặc sử dụng tài khoản của bạn đã đăng ký </span>
      <input type="email" placeholder="Email" name="email" [(ngModel)]="loginForm.email" required/>
      <input type="password" placeholder="Mật khẩu " name="password" [(ngModel)]="loginForm.password" required/>
      <input type="text" placeholder="Captcha " name="captcha" [(ngModel)]="loginForm.captcha" required/>
      <div class="d-flex g-2 align-items-center w-100">
        <img [ngSrc]="captchaImg" (click)="getCaptcha()" alt="captcha"/>
        <i class="fas fa-sync ms-2" (click)="getCaptcha()"></i>
      </div>
      <a href="javascript:;" (click)="forgetPassword()">Quên mật khẩu </a>
      <button (click)="login()">Đăng nhập</button>
      <span class="mt-3 d-sm-none">Chưa có tài khoản bấm <a href="javascript:;" (click)="switchTab()"
                                                            class="text-decoration-underline">Đăng ký</a></span>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1 class="text-white">Xin chào bạn!</h1>
        <p>Nếu bạn đã có tài khoản thì nhấn đăng nhập bên dưới</p>
        <button class="ghost" id="signIn" (click)="switchTab()">Đăng nhập</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1 class="text-white">Xin chào bạn!</h1>
        <p>Nếu bạn chưa có tài khoản thì hãy nhấn đăng ký để trở thành thành viên của ToeicUte</p>
        <button class="ghost" id="signUp" (click)="switchTab()">Đăng ký</button>
      </div>
    </div>
  </div>
</div>
