<div class="container" [ngClass]="{'right-panel-active' : isRegisterTab}" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Tạo tài khoản</h1>
      <div class="social-container">
        <a href="javascript:;" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="javascript:;" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="javascript:;" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>Hoặc sử dụng email của bạn để đăng ký </span>
      <input type="email" placeholder="Email"/>
      <input type="password" placeholder="Mật khẩu "/>
      <input type="password" placeholder="Nhập lại mật khẩu"/>
      <input type="text" placeholder="Họ và tên "/>
      <button>Đăng ký </button>
    </form>
  </div>
  <div class="form-container sign-in-container" [ngClass]="{'d-none' : isRegisterTab}">
    <form action="#">
      <h1>Đăng nhập</h1>

      <div class="social-container">
        <a href="javascript:;" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="javascript:;" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="javascript:;" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>

      <span>Hoặc sử dụng tài khoản của bạn đã đăng ký </span>
      <input type="email" placeholder="Email"/>
      <input type="password" placeholder="Mật khẩu "/>
      <a href="javascript:;">Quên mật khẩu </a>
      <button (click)="loginSubmit()">Đăng nhập </button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Xin chào bạn!</h1>
        <p>Nếu bạn đã có tài khoản thì nhấn đăng nhập bên dưới</p>
        <button class="ghost" id="signIn" (click)="switchTab()">Đăng nhập</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Xin chào bạn!</h1>
        <p>Nếu bạn chưa có tài khoản thì hãy nhấn đăng ký để trở thành thành viên của ToeicUte</p>
        <button class="ghost" id="signUp" (click)="switchTab()">Đăng ký</button>
      </div>
    </div>
  </div>
</div>
