<app-page-header
  [title]="title"
  [currentPage]="currentPage">
</app-page-header>

<div class="container">
  <div class="col-12">
    <canvas baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
    </canvas>
  </div>
</div>

<div class="page-header">
  <h1 class="col-12 text-center">Statistic User Exam</h1>
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <nz-table #borderedTable nzBordered [nzData]="listExam" [nzShowPagination]="false" nzTableLayout="fixed">
          <thead>
          <tr>
            <th scope="col">Exam Name</th>
            <th scope="col">Total Turn Test</th>
            <th scope="col">Max Score</th>
            <th scope="col">Min Score</th>
            <th scope="col">Percent Correct</th>
            <th scope="col">#</th>
          </tr>
          </thead>
          <tbody>
            @for (data of borderedTable.data; track data) {
              <tr>
                <td>{{ data.examName }}</td>
                <td>{{ data.numberOfUserDoExam }}</td>
                <td>{{ data.maxScore }}</td>
                <td>{{ data.minScore }}</td>
                <td>{{ data.percent }} %</td>
                <td>
                  <button class="btn btn-outline-primary btn-sm" (click)="viewDetai(data.examId)">View Detail</button>
                </td>
              </tr>
            }
          </tbody>
        </nz-table>

      </div>
    </div>
  </div>

</div>
