<div class="col-12 grid-margin stretch-card mb-0">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" [innerText]="title"></h4>
      <form class="forms-sample">
        <div class="form-group">
          <label for="exampleInputName1">Topic Name</label>
          <input type="text"
                 class="form-control"
                 name="name"
                 [ngClass]="{'error-input-custom': showBorderError}"
                 id="exampleInputName1"
                 [(ngModel)]="param.topicName"
                 placeholder="Input topic name">
        </div>
        <div class="form-group">
          <label>Image</label>
          <div class="container-upload" (drop)="handleDrop($event)" (dragover)="allowDrop($event)">
            <div class="upload-box">
              <div class="content">
                <div class="upload-icon" (drop)="handleDrop($event)" (dragover)="allowDrop($event)">
                  <i class="mdi mdi-cloud-upload text-dark" style="height: 100px; width: 100px;"></i>
                </div>
                <h5 class="text-dark" (drop)="handleDrop($event)" (dragover)="allowDrop($event)">
                  Drag and drop file here
                </h5>
                <p>Or</p>
                <div class="upload-btn-wrapper">
                  <button class="btn btn-gradient-primary-2">Upload</button>
                  <input type="file" name="file" (change)="handleFileInput($event)" (drop)="handleDrop($event)"
                         (dragover)="allowDrop($event)"/>
                </div>
              </div>
            </div>
          </div>
          <div class="box-body" [ngClass]="{'d-none' : !isShowImage}">
            <img [src]="this.imageSrc" alt="" style="width: 200px; height: 200px;" class="ant-image-preview">
          </div>
        </div>
      </form>
      <button class="btn btn-gradient-primary-2" (click)="addNew()">Add</button>
      <button class="btn btn-secondary ms-2" (click)="close()">Cancel</button>
    </div>
  </div>
</div>

