<app-page-header
  [title]="title"
  [currentPage]="currentPage">
</app-page-header>
<nz-water-mark nzContent="Toeicute">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <button class="btn btn-block btn-lg btn-gradient-primary-2" (click)="addTopic()">Add New</button>
          </h4>
          <div class="table-responsive">
            <table class="table" aria-label="toeicute">
              <thead>
              <tr>
                <th scope="col" style="width: 15%;">Exam Set Code</th>
                <th scope="col" style="width: 40%;">Exam Set Name</th>
                <th scope="col" style="width: 30%;">Image</th>
                <th scope="col" style="width: 15%;">#</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let item of listTopic; trackBy: trackByFn">
                <tr>
                  <td>{{ item.topicId }}</td>
                  <td>{{ item.topicName }}</td>
                  <td>
                    <img nz-image [nzSrc]="item.topicImage" style="height: 100px; width: 100px;"
                         [alt]="item?.topicName">
                  </td>
                  <td>
                    <button class="btn btn-gradient-info btn-rounded btn-fw" (click)="editTopic(item)">Edit
                    </button>
                    <button class="btn btn-gradient-danger btn-rounded btn-fw" (click)="deleteTopic(item)">Delete
                    </button>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-water-mark>
