<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-md-12 bg-light">
      <h1 class="text-center text-primary mt-3" [innerText]="currentExam?.examName"></h1>
    </div>
  </div>
  <div class="row mb-2">
    <nz-tabset class="col-xl-10 left-content" [(nzSelectedIndex)]="selectedIndex">
      <ng-container *ngFor="let partItem of listPartResult; let partIndex = index">
        <ng-container *ngIf="partItem?.partCode == 'PART1'">
          <nz-tab nzTitle="Part 1">
            <app-part-template-2
              [part]="partItem"
              [selectedAnswer]="selectedAnswer"
              [numberQuestion]="6"
              [indexPart]="1"
              (changePart)="changePart($event)"
              (selectedAnswerChange)="selectedAnswerChange($event)"
            ></app-part-template-2>
          </nz-tab>
        </ng-container>

        <ng-container *ngIf="partItem?.partCode == 'PART2'">
          <nz-tab nzTitle="Part 2">
            <app-part-template-2
              [part]="partItem"
              [selectedAnswer]="selectedAnswer"
              [numberQuestion]="25"
              [indexPart]="2"
              (changePart)="changePart($event)"
              (selectedAnswerChange)="selectedAnswerChange($event)"
            ></app-part-template-2>
          </nz-tab>
        </ng-container>

        <ng-container *ngIf="partItem?.partCode == 'PART3'">
          <nz-tab nzTitle="Part 3">
            <app-part-template-1
              [part]="partItem"
              [selectedAnswer]="selectedAnswer"
              [numberQuestion]="39"
              [partIndex]="3"
              (changePart)="changePart($event)"
              (selectedAnswerChange)="selectedAnswerChange($event)"
            ></app-part-template-1>
          </nz-tab>
        </ng-container>

        <ng-container *ngIf="partItem?.partCode == 'PART4'">
          <nz-tab nzTitle="Part 4">
            <app-part-template-1
              [part]="partItem"
              [selectedAnswer]="selectedAnswer"
              [numberQuestion]="30"
              [partIndex]="4"
              (changePart)="changePart($event)"
              (selectedAnswerChange)="selectedAnswerChange($event)"
            ></app-part-template-1>
          </nz-tab>
        </ng-container>

        <ng-container *ngIf="partItem?.partCode == 'PART5'">
          <nz-tab nzTitle="Part 5">
            <app-part-template-2
              [part]="partItem"
              [selectedAnswer]="selectedAnswer"
              [numberQuestion]="30"
              [indexPart]="5"
              (changePart)="changePart($event)"
              (selectedAnswerChange)="selectedAnswerChange($event)"
            ></app-part-template-2>
          </nz-tab>
        </ng-container>

        <ng-container *ngIf="partItem?.partCode == 'PART6'">
          <nz-tab nzTitle="Part 6">
            <app-part-template-1
              [part]="partItem"
              [selectedAnswer]="selectedAnswer"
              [numberQuestion]="16"
              (changePart)="changePart($event)"
              (selectedAnswerChange)="selectedAnswerChange($event)"
            ></app-part-template-1>
          </nz-tab>
        </ng-container>
        <ng-container *ngIf="partItem?.partCode == 'PART7'">
          <nz-tab nzTitle="Part 7">
            <app-part-template-3
              [part]="partItem"
              [selectedAnswer]="selectedAnswer"
              (changePart)="changePart($event)"
              (selectedAnswerChange)="selectedAnswerChange($event)"
            ></app-part-template-3>
          </nz-tab>
        </ng-container>
      </ng-container>
    </nz-tabset>
    <div class="col-sm-2 col-12">
      <div class="row right-button">
        <div class="col-12 d-flex flex-column align-items-start">
          <label class="text-center title fw-bold">Thời gian làm bài: </label>
          <div class="col-12">
            <div class="time d-flex justify-content-center">
              <p #minutes></p>
              <p>:</p>
              <p #seconds></p>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex flex-column align-items-center justify-content-center">
          <button nz-button nzType="primary" class="mt-1 bg-primary border-0" style="width: 140px;"
                  [nzShape]="'round'" nzSize="large" nzBlock (click)="finishTest()">Nộp bài
          </button>
        </div>
        <div class="col-12">
          <p class="notice fw-bold">Chú ý: bạn có thể click vào số thứ tự câu hỏi trong bài để chuyển hướng đến câu
            hỏi muốn làm</p>
        </div>
        <ng-container *ngFor="let partIem of listPartResult; let partIndex = index">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <p class="text-dark fw-bold mt-3" [innerText]="partIem?.partName"></p>
              </div>
            </div>
            <div class="row">
              <div class="col row">
                <ng-container *ngFor="let questionButton of partIem?.questions; let questionIndex = index">
                  <div class="col-3">
                    <button class="mb-1 btn btn-outline-primary btn-circle mt-2 me-2"
                            (click)="switchToTab(partIndex , partIem?.questions[questionIndex]?.questionId)"
                            [ngClass]="{'btn-fill': buttonStates[questionButton?.questionId]}">
                      {{ questionButton?.questionNumber }}
                    </button>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
