<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-md-12 bg-light">
      <h1 class="text-center text-primary mt-3" [innerText]="currentExam?.examName"></h1>
    </div>
  </div>
  <div class="row mb-2">
    <nz-tabset class="col-12 col-sm-12 col-md-10 left-content" [(nzSelectedIndex)]="selectedIndex">
      <nz-tab nzTitle="Part 1">
        <app-part-template-2
          [part]="listPart[0]"
          [selectedAnswer]="selectedAnswer"
          [numberQuestion]="6"
          [indexPart]="1"
          (changePart)="changePart($event)"
          (selectedAnswerChange)="selectedAnswerChange($event)"
        ></app-part-template-2>
      </nz-tab>
      <nz-tab nzTitle="Part 2">
        <app-part-template-2
          [part]="listPart[1]"
          [selectedAnswer]="selectedAnswer"
          [numberQuestion]="6"
          [indexPart]="2"
          (changePart)="changePart($event)"
          (selectedAnswerChange)="selectedAnswerChange($event)"
        ></app-part-template-2>
      </nz-tab>
      <nz-tab nzTitle="Part 3">
        <app-part-template-1
          [part]="listPart[2]"
          [selectedAnswer]="selectedAnswer"
          [numberQuestion]="3"
          [partIndex]="3"
          (changePart)="changePart($event)"
          (selectedAnswerChange)="selectedAnswerChange($event)"
        ></app-part-template-1>
      </nz-tab>
      <nz-tab nzTitle="Part 4">
        <app-part-template-1
          [part]="listPart[3]"
          [selectedAnswer]="selectedAnswer"
          [numberQuestion]="3"
          [partIndex]="4"
          (changePart)="changePart($event)"
          (selectedAnswerChange)="selectedAnswerChange($event)"
        ></app-part-template-1>
      </nz-tab>
      <nz-tab nzTitle="Part 5">
        <app-part-template-2
          [part]="listPart[4]"
          [selectedAnswer]="selectedAnswer"
          [numberQuestion]="6"
          [indexPart]="5"
          (changePart)="changePart($event)"
          (selectedAnswerChange)="selectedAnswerChange($event)"
        ></app-part-template-2>
      </nz-tab>
      <nz-tab nzTitle="Part 6">
        <app-part-template-1
          [part]="listPart[5]"
          [selectedAnswer]="selectedAnswer"
          [numberQuestion]="4"
          (changePart)="changePart($event)"
          (selectedAnswerChange)="selectedAnswerChange($event)"
        ></app-part-template-1>
      </nz-tab>
      <nz-tab nzTitle="Part 7">
        <app-part-template-3
          [part]="listPart[6]"
          [selectedAnswer]="selectedAnswer"
          (changePart)="changePart($event)"
          (selectedAnswerChange)="selectedAnswerChange($event)"
        ></app-part-template-3>
      </nz-tab>
    </nz-tabset>
    <div class="col-12 col-sm-12 col-md-2">
      <div class="row right-button">
        <div class="col-12 d-flex flex-column align-items-start">
          <label class="text-center title fw-bold">Thời gian làm bài: </label>
          <label class="text-center title">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            120 phút
          </label>

          <div class="col-12">
            <div class="time d-flex justify-content-center" [ngClass]="{'text-danger': totalTimeInSeconds < 300}">
              <p #minutes></p>
              <p>:</p>
              <p #seconds></p>
            </div>
          </div>

        </div>
        <div class="col-12 d-flex flex-column align-items-center justify-content-center">
          <button nz-button nzType="primary" class="mt-1 bg-primary border-0" style="width: 140px;"
                  [nzShape]="'round'" nzSize="large" nzBlock (click)="finishTest()">Nộp bài
          </button>
        </div>
        <div class="col-12">
          <p class="notice fw-bold">Chú ý: bạn có thể click vào số thứ tự câu hỏi trong bài để chuyển hướng đến câu
            hỏi muốn làm</p>
        </div>
        @for (partItem of listPart; track partItem; let partIndex = $index) {
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <p class="text-dark fw-bold mt-3" [innerText]="partItem?.partName"></p>
              </div>
            </div>
            <div class="row">
              <div class="col row">
                @for (questionButton of partItem?.questions; track questionButton; ) {
                  <div class="col-3">
                    <button class="mb-1 btn btn-outline-primary btn-circle mt-2 me-2"
                            (click)="switchToTab(partIndex ,questionButton?.questionId)"
                            [ngClass]="{'btn-fill': buttonStates[questionButton?.questionId]}">
                      {{ questionButton?.questionNumber }}
                    </button>
                  </div>
                }
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>

<app-chatbot></app-chatbot>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  name="test"
>
  <p style="font-size: 20px; color: white">{{ message }}</p>
</ngx-spinner>
