<app-page-header
  [title]="title"
  [currentPage]="currentPage">
</app-page-header>

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        <button class="btn btn-outline-primary btn-gradient-primary" (click)="openFormAdd()">Thêm mới</button>
      </h4>
      <nz-table #borderedTable nzBordered [nzData]="listKommunicate">
        <thead>
        <tr>
          <th> Id</th>
          <th> Email</th>
          <th> PassWord</th>
          <th> #</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let data of borderedTable.data">
          <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.password }}</td>
            <td>
              <button class="btn btn-success btn-rounded btn-sm me-2 " (click)="update(data)"> Sửa</button>
              <button class="btn btn-danger btn-rounded btn-sm" (click)="showConfirm(data.id)"> Xóa</button>
              <nz-modal
                [(nzVisible)]="isVisible"
                nzTitle="Xác nhận"
                nzOkText="Có"
                nzCancelText="Hủy"
                (nzOnOk)="handleOk()"
                (nzOnCancel)="handleCancel()"
              >
                <ng-container *nzModalContent>
                  <p> Bạn có chắc chắn muốn xóa không ??? </p>
                </ng-container>
              </nz-modal>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
