<app-page-header
        [title]="title"
        [currentPage]="currentPage">
</app-page-header>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <nz-table #fixedTable [nzData]="switchData"  nzTableLayout="fixed">
                <thead>
                <tr>
                    <th> Project Id </th>
                    <th> Token key </th>
                    <th> Bucket name </th>
                    <th> File Json </th>
                    <th> Status </th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of fixedTable.data, let i = index">
                    <td>{{ data.projectId }}</td>
                    <td nzEllipsis>{{ data.tokenKey }}</td>
                    <td>{{ data.bucketName }}</td>
                    <td>{{ data.fileJson }}</td>
                    <td>
                        <nz-switch [(ngModel)]="data.switchValue" (ngModelChange)="onSwitchChange($event, i)"></nz-switch>
                    </td>
                    <td>
                      <button class="btn btn-success btn-rounded btn-sm me-2 " > Sửa </button>
                      <button class="btn btn-danger btn-rounded btn-sm" > Xóa </button>
                    </td>
                </tr>

                </tbody>
          </nz-table>
        </div>
    </div>
</div>
