<app-page-header
        [title]="title"
        [currentPage]="currentPage">
</app-page-header>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <button class="btn btn-outline-primary btn-gradient-primary-2" (click)="openFormAdd()">Add New</button>
          </h4>
          <nz-table #fixedTable [nzData]="listFirebase"  nzTableLayout="fixed">
                <thead>
                <tr>
                    <th> Project Id </th>
                    <th> Token key </th>
                    <th> Bucket name </th>
                    <th> File Json </th>
                    <th> Status </th>
                    <th> # </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of fixedTable.data, let i = index">
                    <td>{{ data.projectId }}</td>
                    <td >{{ data.tokenKey }}</td>
                    <td>{{ data.bucketName }}</td>
                    <td nzEllipsis [popover]= "JSON.parse(data.fileJson) | json">{{ JSON.parse(data.fileJson) | json }}</td>
                    <td>
                      <nz-switch [(ngModel)]="data.status" [nzDisabled]="data.status" (ngModelChange)="onSwitchChange(data.id)"></nz-switch>
                    </td>
                    <td>
                      <button class="btn btn-success btn-rounded btn-sm me-2 " (click)="update(data)"> Edit</button>
                      <button class="btn btn-danger btn-rounded btn-sm" [ngClass]="{'d-none': data.status}" (click)="deleteFirebase(data.id)"> Delete</button>
                    </td>
                </tr>

                </tbody>
          </nz-table>
        </div>
    </div>
</div>
