<div class="row">
  <div class="col-12 title">
    <p class=" mt-3 fs-6 part-content">
      {{ part?.partContent }}
    </p>
  </div>
  @if(indexPart != 5 && !isReal) {
    <div class="col-5 ">
      <app-audio-part [audioSource]="part?.partAudio"></app-audio-part>
    </div>
  }
  <ng-container *ngFor="let item of part?.questions; let part1Index = index;">
    <div class="row mt-3" id="questionContainer_0_{{item?.questionId}}">
      <ng-container *ngIf="item?.questionImage">
        <div class="col-6">
          <img
            nz-image
            nz-tooltip="Click vào để xem rõ hơn."
            class="nz-image"
            [nzSrc]="item?.questionImage"
            [alt]="'TOEICUTE'"
          />
        </div>
      </ng-container>
      <div class="col-{{indexPart == 1 ? '6' : '12'}}">
        <ng-container *ngIf="!item?.questionContent">
          <div class="col-12 fw-bold fs-6">Câu  {{ item?.questionNumber }} - Answer this question:</div>
        </ng-container>
        <ng-container *ngIf="item?.questionContent">
          <div class="col-12 mt-1 fw-bold fs-6" translate="no"
               id="questionContainer_5_{{item?.questionId}}">
            Câu  {{ item?.questionNumber }}
            : {{ item?.questionContent }}
          </div>
        </ng-container>

        <nz-radio-group nzName="radiogroup"
                        class="col-12"
                        [(ngModel)]="selectedAnswer[item?.questionId]"
                        (ngModelChange)="changeStateButton($event, item?.questionId)">
          <label nz-radio nzValue="A">{{ item?.answerA }}</label>
          <label nz-radio nzValue="B">{{ item?.answerB }}</label>
          <label nz-radio nzValue="C">{{ item?.answerC }}</label>
          <ng-container *ngIf="indexPart !== 2">
            <label nz-radio nzValue="D">{{ item?.answerD }}</label>
          </ng-container>
        </nz-radio-group>
      </div>
    </div>
  </ng-container>

  <div class="col-12 d-flex justify-content-between">
    <a class="btn btn-link" [ngClass]="{'d-none': indexPart === 1}" (click)="previousPart()">
      <i class="fa fa-arrow-left"></i>
      Previous Part
    </a>
    <a class="btn btn-link" [ngClass]="{'d-none': indexPart === 7}" (click)="nextPart()">
      Next Part
      <i class="fa fa-arrow-right"></i>
    </a>
  </div>
</div>
