<div class="container">
  <div class="row">
    <div class="col">
      <img class="image-footer d-flex align-items-center" src="assets/images/logo_tachnen.png" alt="logo">
      <div class="icon-footer">
        <fa-icon class="icon-padding" [icon]="faEnvelope"></fa-icon>
        <fa-icon class="icon-padding" [icon]="faFacebook"></fa-icon>
        <fa-icon class="icon-padding" [icon]="faInstagramSquare"></fa-icon>
        <fa-icon class="icon-padding" [icon]="faSkype"></fa-icon>
      </div>

    </div>
    <div class="col-6 text introduce">
      <h5  >ABOUT</h5> <br/>
      <p > Launched in September 2023, with the aim of helping individuals prepare for the Toeic exam.<br/>
      Our website is your one-stop destination for test prep, practice materials, and expert guidance.
        Join us on your journey towards TOEIC test success and open up countless opportunities with your improved English skills. </p>
    </div>
    <div class="col text  ">
      <h5>CONTACT US</h5><br/>
      <p ><fa-icon [icon]="faEnvelope"></fa-icon> toeicmaster@gmail.com
        <fa-icon [icon]="faPhone"></fa-icon> 0765684625 <br/>
        <fa-icon [icon]="faPhone"></fa-icon> 0837042175
      </p>
    </div>
    
    <div>
      <hr  width="100%" size="2px" align="center" />
       <p class="title-name">Bùi Nhật Tâm - Đinh Tiến Đạt</p>
    </div>
  </div>
</div>
