<div class="col-12 grid-margin stretch-card mb-0">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" [innerText]="title"></h4>
      <h6> Câu: {{ this.params.questionNumber }}</h6>
      @if (this.params.haveMultiImage) {
        @for (image of this.params?.questionImages; track image) {
          <img class="w-100 h-50 coverimage" [src]="image.questionImage"> <br>
        }
      } @else if (this.params?.questionImage && !this.params.haveMultiImage) {
        <img class="w-100 h-50 coverimage" [src]="this.params?.questionImage"> <br>
      }
      <span> {{ this.params?.paragraph1 }} </span>
      <span> {{ this.params?.paragraph2 }} </span>
      <span> {{ this.params?.questionContent }} </span> <br>
      <nz-radio-group [(ngModel)]="this.params.selectedAnswer">
        <label nz-radio nzValue="A" [nzDisabled]="true">{{ this.params?.answerA }}</label> <br>
        <label nz-radio nzValue="B" [nzDisabled]="true">{{ this.params?.answerB }}</label> <br>
        <label nz-radio nzValue="C" [nzDisabled]="true">{{ this.params?.answerC }}</label> <br>
        @if (this.params.questionNumber < 7 || this.params.questionNumber > 31) {
          <label nz-radio nzValue="D" [nzDisabled]="true">{{ this.params?.answerD }}</label> <br>
        }
      </nz-radio-group>
      <br>
      <span><mark>Đáp án đúng: {{ this.params?.correctAnswer }} </mark> </span>
      <h6 class="mt-3"> Transcript: </h6>
      <span [innerHTML]="this.params?.transcript | safeHtml"> </span>
      <h6> Giải thích đáp án chi tiết: </h6>
      <span [innerHTML]="this.params?.translateTranscript | safeHtml"></span>
    </div>
  </div>
</div>
