<app-page-header
  [title]="title"
  [currentPage]="currentPage">
</app-page-header>

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <nz-table #editRowTable nzBordered [nzData]="listOfData" nzTableLayout="fixed">
        <thead>
        <tr>
          <th nzWidth="10%">Host</th>
          <th nzWidth="10%">Port</th>
          <th nzWidth="25%">Username</th>
          <th nzWidth="20%">Password</th>
          <th nzWidth="20%">Status</th>
          <th >Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
            <td>{{ data.host }}</td>
            <td>{{ data.port }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.password }}</td>
            <td>{{ data.status }}</td>
            <td><a (click)="startEdit(data.id)">Edit</a></td>
          </ng-container>
          <ng-template #editTemplate>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.host" /></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.port" /></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.username" /></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.password" /></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.status" /></td>

            <td>
              <a (click)="saveEdit(data.id)" class="save">Save</a>
              <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
            </td>
          </ng-template>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
