<app-page-header
  [title]="title"
  [currentPage]="currentPage">
</app-page-header>


<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <div class="template-demo">
            <button type="button" class="btn btn-gradient-primary btn-icon-text mb-3 btn-sm"
                    [ngClass]="{'d-none': !showSaveAllBtn}"
                    (click)="saveAll()"
            >
              <i class="mdi mdi-file-check btn-icon-prepend"></i> Save all
            </button>
            <input type="file" (change)="onFileSelected($event)" accept=".xlsx" class="file-upload-default d-none"
                   #fileInput/>
            <button type="button" class="btn btn-gradient-success btn-icon-text mb-3 btn-sm"
                    (click)="triggerFileInput(fileInput)">
              <i class="mdi mdi-upload btn-icon-prepend"></i> Import scores from excel file
            </button>
          </div>

          <nz-table
            #list
            [nzData]="listScore"
            nzBordered
            [nzLoading]="tblLoading">
            <thead>
            <tr>
              <th scope="col"
                  *ngFor="let column of listOfColumns"
                  [nzSortOrder]="column.sortOrder"
                  [nzSortFn]="column.sortFn"
                  [nzSortDirections]="column.sortDirections"
              >
                {{ column.name }}
              </th>
              <th scope="col">#</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of list.data; trackBy: trackByFn">
              <td [tooltip]="'Số câu đúng ' + item?.totalQuestion">{{ item?.totalQuestion }}</td>
              <ng-container *ngIf="!editCache[item.calculateScoreId].edit; else editTemplate">
                <td>{{ item?.scoreListening }}</td>
                <td>{{ item?.scoreReading }}</td>
                <td class="template-demo">
                  <button class="btn btn-success btn-rounded btn-sm" (click)="startEdit(item?.calculateScoreId)">
                    Edit
                  </button>
                </td>
              </ng-container>
              <ng-template #editTemplate>
                <td>
                  <input type="text" nz-input [(ngModel)]="editCache[item.calculateScoreId].data.scoreListening"/>
                </td>
                <td><input type="text" nz-input [(ngModel)]="editCache[item.calculateScoreId].data.scoreReading"/>
                </td>
                <td class="template-demo">
                  <button type="button" class="btn btn-warning btn-sm" (click)="saveEdit(item)">Save</button>
                  <button class="btn btn-outline-danger btn-sm"
                          nz-popconfirm nzPopconfirmTitle="Do you want to delete?"
                          [nzCancelText]="'Cancel'" [nzOkText]="'Agree'"
                          (nzOnConfirm)="cancelEdit(item?.calculateScoreId)">Cancel
                  </button>
                </td>
              </ng-template>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>
